<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034767577164-re3s6k0mih0f1j1a0ttt9r74783eeffa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034767577164-re3s6k0mih0f1j1a0ttt9r74783eeffa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1034767577164-7ldkh6i3snbjjsrub3jc1cbscbdrv8jm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-dSfMkBWh7lGB6acvLGTdKRyeLsVeUbU</string>
	<key>GCM_SENDER_ID</key>
	<string>1034767577164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.customerapp</string>
	<key>PROJECT_ID</key>
	<string>lets-ride-2021</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-ride-2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034767577164:ios:c245a3c8a62627feb604e9</string>
</dict>
</plist>